#display-flight-and-hotel { display:block; }

#add-flight-hotel-info { display:none }

#edit-itinerary-details { display:none; }

#map { height:600px; z-index:10; }

#city_map { height:600px; z-index:10; }

html, body {
    margin:0;
    height:100%;
  }

.bg-container {
    background-image: url("/static/js/eiffel-tower-background.jpg");
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    z-index:-100;
  }

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    height: 100%;
    width: 100%;
    display: inline-block;
}

body { font-family: 'Helvetica'; }

h1 { text-align:center; font-family: 'Poppins'; }
h2, h3, h4 { font-family: 'Poppins'; }

.navbar-container { background-color: black; }
.navbar-brand { font-family: 'Yellowtail'; padding-left: 2em; font-size: 25px;}
.nav-item { font-family: 'Poppins'; }

.register-login-boxes {
    opacity: 0.6;
    margin: 30px;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding-top:.5em;
    padding-left:1em;
    padding-bottom:1em;
    width:700px;
    border-radius: 25px;

}

#register-header {
    padding-top: 1em;
}
#login-header {
    padding-top: 1em;
}

.photo-attribution {
    opacity: 0.6;
    margin: 30px;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    /* padding-top:.5em; */
    position:fixed;
    padding:3px;
    right:0px; bottom:0px;
    /* padding-bottom:1em; */
    border-radius: 5px;
    width:193px;
    font-family:'Poppins';
    font-size:10px;
}