#display-flight-and-hotel { display:block; }

#add-flight-hotel-info { display:none }

#edit-itinerary-details { display:none; }

html, body {
    margin:0;
 }

.bg-container {
    background-image: url("/static/js/Brooklyn photo.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position:center center;
    z-index:-100;
    margin: 0px;
    min-height: 100vh;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0px);
    height: 100%;
    width: 100%;
    display: inline-block;
    min-height: 100vh;
}

body { font-family: 'Helvetica'; }

h1 { 
    text-align:center; font-family: 'Poppins'; 
}

h2 { 
    font-family: 'Poppins'; 
}

h3 {
    font-family: 'Poppins';
    font-size: 14pt;
    color: #538E65;
}

.navbar-container { background-color: black; }
.navbar-brand { font-family: 'Yellowtail'; padding-left: 2em; font-size: 25px;}
.nav-item { font-family: 'Poppins'; }
nav .navbar-nav li a {
    color: #538E65 !important;
    margin-right: 30px;
}

a:link {
    color: #538E65;
}

a:visited {
    color: #538E65;
}

#welcome-header {
    margin-right: 10px;
    padding-right: 20px;
}

.register-login-boxes {
    opacity: 0.8;
    margin: 30px;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding-top:.5em;
    padding-left:1em;
    padding-bottom:1em;
    width:700px;
    border-radius: 10px;
}

#register-column {
    margin-left: 70px;
}

#login-column {
    margin-left: 70px;
}

#register-header {
    padding-top: 1em;
}

#login-header {
    padding-top: 1em;
}

.welcome-back {
    margin-right: 10px;
    padding-right: 15px;
}

.your-itinerary {
    text-align: center;
}

#search-activities-header {
    text-align:center;
    margin-top:10px;
    margin-bottom:5px;
}

#to-be-scheduled-header {
    text-align: center;
    width:100%;
}

#scheduled-activities-header {
    text-align: center;
}
#create-itin-header {
    text-align: center;
}

.user-itinerary-boxes {
    opacity: 0.8;
    margin: 30px;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding-top:.5em;
    padding-bottom:1em;
    width:700px;
    border-radius: 10px;
}

#new-itinerary-box {
    margin: 30px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    width:280px;
    border-radius: 10px;
    font-family: 'Poppins';
    text-align: center;
}

#view-itinerary-box {
    margin: 30px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    width:280px;
    border-radius: 25px;
    font-family: 'Poppins';
    text-align: center;
}

.create-itinerary-wrapper {
    opacity: 0.8;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    margin-left: 60px;
    width:45%;
    height:75%;
}

#create-new-itinerary {
    margin: 30px;
    margin-left:28px;
    border: 1px solid black;
    background-color:black;
    padding-top:1.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    width:600px;
    border-radius: 25px;
}

.view-itinerary-list {
    opacity: 0.8;
    margin: 30px;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding-top:.5em;
    padding-bottom:1em;
    width:700px;
    border-radius: 10px;
}

#itinerary-box {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-top: 20px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    width:280px;
    border-radius: 25px;
}

.display-itinerary {
    opacity: 0.8;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    margin-left: 60px;
    width:40%;
    height: 75%;
}

#display-itinerary-details {
    margin-bottom: 10px;
    margin-top: 0px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    border-radius: 25px;
}

#edit-itinerary-details {
    margin-bottom: 10px;
    margin-top: 0px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    border-radius: 10px;
}

#display-flight-and-hotel {
    margin-bottom: 0px;
    margin-top: 0px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    border-radius: 25px;
}

#add-flight-hotel-info {
    margin-bottom: 0px;
    margin-top: 0px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    border-radius: 10px;
}

#add-activities-button {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    background-color:black;
    padding-top:.5em;
    padding-left:1.5em;
    padding-bottom:.5em;
    border-radius: 10px;
}

.to-be-scheduled {
    opacity: 0.8;
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding-top:.5em;
    padding-bottom:1em;
    border-radius: 10px;
    height: 220px;
    display:flex;
    flex-direction: column;
}

#unsched-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#unsched-activity-name {
    margin:10px;
    margin-top:0px;
    margin-right:20px;
}

#already-scheduled {
    opacity: 0.8;
    margin: 30px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding-top:.5em;
    padding-bottom:1em;
    border-radius: 10px;
}

#map-div {
    opacity: 0.8;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    margin-left: 60px;
    width:40%;
    height: 75%;
}

#city_map { 
    height:500px;
    z-index:10; 
    margin-top:10px;
    margin-bottom:10px;
}

#activity-search {
    width:93%;
    margin-bottom: 5px;
}

#city-search {
    width:93%;
    margin-bottom:5px;
}

#activity-search-results {
    opacity: 0.8;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}


#activities-list-container {
    width: 75%;
}

.list-group {
    margin-top: 10px;
}

#yelp_image {
    width: 500px;
}

.form-group {
    margin-bottom:5px;
    width:93%;
}

.form-control {
    margin-bottom:5px;
}

.btn {
    margin-bottom: 5px;
    color: #538E65;
}

#flight-info {
    margin-bottom: 5px;
}

#hotel-info {
    margin-bottom: 5px;
}

.sched-date {
    font-family: 'Poppins';
    font-size: 14pt;
    text-decoration: underline;
}

.photo-attribution {
    opacity: 0.6;
    border: 1px solid black;
    background-color: #ffffff;
    filter: alpha(opacity=50);
    position:fixed;
    display: inline-block;
    padding:3px 3px;
    right:0; 
    bottom:0;
    border:3px;
    font-family:'Helvetica';
    font-size:10px;
    font-weight: 300;
    z-index: 1;
}