{% extends 'base.html' %}

{% block title %}View a single itinerary{% endblock %}

{% block body %}

<div class="row">
<div class="display-itinerary col-6">

    <h1 id="your-itinerary">Your itinerary:</h1>

    <div class="container-fluid">

            <!-- DISPLAY ITINERARY DEFAULT -->
                <div id="display-itinerary-details">
                    <span id="name">
                        {{ trip.itin_name }} </span> <br>
                    <span id="location">
                        {{ trip.itin_location }} </span> <br>
                    <span id="start">
                        {{ trip.itin_start }} </span>  to
                    <span id="end">
                        {{ trip.itin_end }} </span> <br>

                    <div class="book_btn">
                        <button class="btn btn-outline-secondary btn-sm" id="edit-itinerary">Edit trip info</button>
                    </div>
                </div>

            <!-- EDIT ITINERARY TOGGLE-->
                <div id="edit-itinerary-details">
                        <span id="nameEdit">
                            {{ trip.itin_name }} </span> <button class="btn btn-outline-secondary btn-sm" name="edit-itin-name" id={{trip.itin_id}}>Edit name</button><br>
                        <span id="locationEdit">
                            {{ trip.itin_location }} </span> <button class="btn btn-outline-secondary btn-sm" name="edit-itin-location" id={{trip.itin_location}}>Edit location</button><br>
                        <span id="startEdit">
                            {{ trip.itin_start }} </span> <button class="btn btn-outline-secondary btn-sm" name="edit-itin-start" id={{trip.itin_start}}>Edit start date</button><br>
                        <span id="endEdit">
                            {{ trip.itin_end }} </span> <button class="btn btn-outline-secondary btn-sm" name="edit-itin-end" id={{trip.itin_end}}>Edit end date</button><br>
                        <div class="book_btn">
                            <button class="btn btn-outline-secondary btn-sm" id="save-itin-changes">Save changes</button>
                        </div>
                </div>

            <!-- OPEN FLIGHT/HOTEL INFO FIELDS -->

                {% if (flight_info is none or hotel_info is none) %}

                    <!-- BUTTON TO ADD FLIGHT/HOTEL INFO IF NONE IN DB -->
                    <div id="open-flight-hotel-fields">
                        <div class="book_btn">
                            <button class="btn btn-outline-secondary btn-sm" id="open-flight-and-hotel">Add flight &/or hotel</button>
                        </div>
                    </div>

                    <!-- HIDDEN -->
                    <div id="add-flight-hotel-info" style="display:none">
                        <div>
                            <label>Add flight info:</label>
                            <input type="text" name="flight-info" id="flight-info" value="">
                        </div>    
                        <div>
                            <label>Add hotel info:</label>
                            <input type="text" name="hotel-info" id="hotel-info" value="">
                        </div>

                        <div class="book_btn">
                            <button class="btn btn-outline-secondary btn-sm" id="add-flight-and-hotel">Submit</button>
                        </div>
                    </div>

                    <!-- HIDDEN-->
                    <div id="display-flight-and-hotel" style="display:none">
                        <div>
                            <h4>Your flight info: </h4>
                            <span id="flight">
                                <div id="display-flight" value="">
                                    {% if flight_info %}
                                        {{ flight_info }}
                                    {% endif %}
                                </div>
                            </span>
                        </div>
                        <div>
                            <h4>Your hotel info: </h4>
                            <span id="hotel">
                                <div id="display-hotel" value="">
                                    {% if hotel_info %}
                                        {{ hotel_info }}
                                    {% endif %}
                                </div>
                            </span>
                        </div>
                    </div>

                {% else %}

                    <!-- HIDDEN -->
                        <div id="open-flight-hotel-fields" style="display:none">
                            <div class="book_btn">
                                <button class="btn btn-outline-secondary btn-sm" id="open-flight-and-hotel">Add flight &/or hotel</button>
                            </div>
                        </div>

                    <!-- HIDDEN -->
                        <div id="add-flight-hotel-info">
                            <div>
                                <label>Add flight info:</label>
                                <input type="text" name="flight-info" id="flight-info" value="">
                            </div>    
                            <div>
                                <label>Add hotel info:</label>
                                <input type="text" name="hotel-info" id="hotel-info" value="">
                            </div>
                
                            <div class="book_btn">
                                <button class="btn btn-outline-secondary btn-sm" id="add-flight-and-hotel">Submit</button>
                            </div>
                        </div>
                
                    <!-- DISPLAY FLIGHT/HOTEL INFO IF IN DB-->
                        <div id="display-flight-and-hotel">
                            <div>
                                <h4>Your flight info: </h4>
                                <span id="flight">
                                    <div id="display-flight" value="">
                                        {% if flight_info %}
                                            {{ flight_info }}
                                        {% endif %}
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>Your hotel info: </h4>
                                <span id="hotel">
                                    <div id="display-hotel" value="">
                                        {% if hotel_info %}
                                            {{ hotel_info }}
                                        {% endif %}
                                    </div>
                                </span>
                            </div>
                            <div class="book_btn">
                                <button class="btn btn-outline-secondary btn-sm" id="edit-flight-and-hotel">Edit flight and hotel</button>
                            </div>
                        </div>

                {% endif %}


            <h2 id="search-activities-header">Search for activities by location:</h2>

            <div id="add-activities-button">
                <form method="GET" action="/search-results/{{trip.itin_id}}">

                    <div class="auto-search-wrapper" name="search_location">
                      <!-- <label>Enter city or zipcode: </label> -->
                      <input type="text" autocomplete="on" id="activity-search" placeholder="Enter city or zipcode" name="search_location" value="" class="form-control"/>
                    </div>
                      <div class="form-group">
                        <input class="btn btn-outline-secondary btn-sm" id="search_activities" name="search_activities" type="submit" value="Search activities">
                      </div>  
                
                </form>
            </div>

    </div>
</div>
        <!-- MAP FEATURE DIV -->
                
    <div class="col-6" id="map-div">
        <div class="container-fluid">
            <div id="city_map"></div>
        </div>
    </div>

</div>



<div class="row">
<div class="to-be-scheduled col-11">
    <!-- UNSCHEDULED ACTIVITIES ADDED FROM YELP API -->
    <h2 id="to-be-scheduled-header">Activities to be scheduled:</h2>

    <div class="container-fluid" id="unsched-container">

                    {% for unscheduled_activity in unscheduled_activities %}
                        <div id="unsched-activity-name"></ul>
                                    <span><a href="{{unscheduled_activity.yelp_url}}">{{ unscheduled_activity.activity_name }}</a></span>

                                    <form method="post" action="/schedule-activity/{{trip.itin_id}}/{{unscheduled_activity.activity_id}}">
                                        <input type="datetime-local" name="date" onsubmit="return dateRequired()" required>
                                        <button class="btn btn-outline-secondary btn-sm" name="schedule" id="schedule" type="submit">Add to schedule</button>
                                    </form>

                        </div>
                    {% endfor %}

    </div>

</div>
</div>


<div id="already-scheduled" class="col-11">

<!-- SCHEDULED ACTIVITIES ADDED TO SCHEDULE FROM UNSCHEDULED ACTIVITIES LIST -->
        
    <h2 id="scheduled-activities-header">Your scheduled activities:</h2>
            
    <div class="container-fluid">
        <div class="row">
                {% for date in itin_dates2 %}
                <div class="col">
                    <ul id="sched-date">
                        <div class="sched-date">{{ date.strftime('%a %m/%d') }}</div>
                    <br>
                    {% for scheduled_activity in scheduled_activities %}
                        {% if scheduled_activity.sched_act_date.date() == date %}
                            {{ scheduled_activity.sched_act_date.strftime("%I:%M %p") }}
                            <a href="{{scheduled_activity.activity.yelp_url}}">{{ scheduled_activity.activity.activity_name }}</a> <br>
                            <br>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
        </div>
    </div>








<!-- JAVASCRIPT -->

<script src="/static/js/addFlightHotel.js"></script>
<script src="/static/js/updateItinerary.js"></script>


<!-- TOGGLES -->
<script> // toggle between display and edit itinerary details

    const targetEditItin = document.getElementById("edit-itinerary-details");
    const editItinBtn = document.getElementById("edit-itinerary");

    const targetViewItin = document.getElementById("display-itinerary-details");
    const viewItinBtn = document.getElementById("save-itin-changes");

    //edit itinerary details - view edit fields
    editItinBtn.onclick = function () {
      if (targetViewItin.style.display !== "none") {
        targetViewItin.style.display = "none";
        targetEditItin.style.display = "block";
      } else {
        targetViewItin.style.display = "block";
      }
    };

    //view edited itinerary
    viewItinBtn.onclick = function () {
      if (targetEditItin.style.display !== "none") {
        targetEditItin.style.display = "none";
        targetViewItin.style.display = "block";
      } else {
        targetEditItin.style.display = "block";
      }
    };

</script>


<script> // toggle between display and edit flight and hotel info

    const targetOpen = document.getElementById("open-flight-hotel-fields");
    const openBtn = document.getElementById("open-flight-and-hotel");

    const targetAdd = document.getElementById("add-flight-hotel-info");
    const addBtn = document.getElementById("add-flight-and-hotel");

    const targetEdit = document.getElementById("display-flight-and-hotel");
    const editBtn = document.getElementById("edit-flight-and-hotel");

    openBtn.onclick = function () {
      if (targetOpen.style.display !== "none") {
        targetOpen.style.display = "none"; // this part works, toggles to none
        targetAdd.style.display = "block"; // this part doesn't work, doesn't display
      } else {
        targetOpen.style.display = "block";
      }  
    };

    addBtn.onclick = function () {
      if (targetAdd.style.display !== "none") {
        targetAdd.style.display = "none";
        targetEdit.style.display = "block";
      } else {
        targetAdd.style.display = "block";
      }
    };

    editBtn.onclick = function () {
      if (targetEdit.style.display !== "none") {
        targetEdit.style.display = "none"; // not working, won't toggle off
        targetAdd.style.display = "block"; // not working, won't toggle on
      } else {
        targetEdit.style.display = "block";
      }
    };

</script>

<!-- REQUIRED DATETIME -->
<script>
    function requiredDate() {
        var act_date = document.getElementById("date").value;

        if (act_date === "") {
            alert("Please enter a valid date!!");
            return false
        }
    }
</script>

<!-- LEAFLET JS MAP -->
<script>

    // initialize Leaflet
    var cityMap = L.map('city_map').setView([{{city_lat}}, {{city_lng}}], 10);

    // add OSM tile
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
    }).addTo(cityMap);

    // show the scale bar on the lower left corner
    L.control.scale({imperial: true, metric: true}).addTo(cityMap);

    // show a city marker on the map
    var cityMarker = L.marker([{{city_lat}}, {{city_lng}}]).bindPopup("City center").addTo(cityMap);

    // // create a list of markers from activities coordinates
    const u = {{unscheduled_activities_dict | tojson}};

    for (var i=0; i < u.length; ++i) {
        var activityMarker = L.marker([u[i].latitude, u[i].longitude])
        .bindPopup(u[i].activity_name)
        .addTo(cityMap);
    }

    // // create a list of markers from scheduled activities coordinates
    const s = {{scheduled_activities_dict | tojson}};

    for (var i=0; i < s.length; ++i) {
        var schedActMarker = L.marker([s[i].latitude, s[i].longitude])
        .bindPopup(s[i].activity_name)
        .addTo(cityMap);
    }

</script>

<!-- AUTOCOMPLETE FIELD -->
<script>

    // minimal configure
    new Autocomplete("activity-search", {
      // default selects the first item in
      // the list of results
      selectFirst: true,
    
      // The number of characters entered should start searching
      howManyCharacters: 2,
    
      // onSearch
      onSearch: ({ currentValue }) => {
        // You can also use static files
        // const api = '../static/search.json'
        const api = `https://nominatim.openstreetmap.org/search?format=geojson&limit=5&city=${encodeURI(
          currentValue
        )}`;
    
        /**
         * Promise
         */
        return new Promise((resolve) => {
          fetch(api)
            .then((response) => response.json())
            .then((data) => {
              resolve(data.features);
            })
            .catch((error) => {
              console.error(error);
            });
        });
      },
      // nominatim GeoJSON format parse this part turns json into the list of
      // records that appears when you type.
      onResults: ({ currentValue, matches, template }) => {
        const regex = new RegExp(currentValue, "gi");
    
        // if the result returns 0 we
        // show the no results element
        return matches === 0
          ? template
          : matches
              .map((element) => {
                return `
              <li class="loupe">
                <p>
                  ${element.properties.display_name.replace(
                    regex,
                    (str) => `<b>${str}</b>`
                  )}
                </p>
              </li> `;
              })
              .join("");
      },
    
      // we add an action to enter or click
      onSubmit: ({ object }) => {
        // remove all layers from the map
        map.eachLayer(function (layer) {
          if (!!layer.toGeoJSON) {
            map.removeLayer(layer);
          }
        });
    
      }
    
    })
    
    </script>

{% endblock %}