{% extends 'base.html' %}

{% block title %}View a single itinerary{% endblock %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col">

        <h1>Your itinerary:</h1>

        <p>
            {{ trip.itin_name }} <br>
            {{ trip.itin_location }} <br>
            {{ trip.itin_start }} to
            {{ trip.itin_end }} <br>
            <form method="get" action="/edit-itinerary/{{trip.itin_id}}">
                <button type="submit">Edit trip info</button>
            </form> <br>
            <form method="get" action="/search/{{trip.itin_id}}">
                <button type="submit">Add activities to this trip</button>
            </form>
        </p>

        <p>

        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col">

            <h2>Activities to be scheduled:</h2>

            <p>
                    {% for unscheduled_activity in unscheduled_activities %}
                        <ul id="unsched-activity-name">
                                    <span>{{ unscheduled_activity.activity_name }}</span>

                                    <form method="post" action="/schedule-activity/{{trip.itin_id}}/{{unscheduled_activity.activity_id}}">
                                        <!-- could include hidden input instead-->
                                        <input type="datetime-local" name="date">
                                        <button name="schedule" id="schedule" type="submit">Add to schedule</button>

                                    </form>
                        </ul>
                    {% endfor %}
            </p>

        </div>
    </div>
</div>


<div class="container">

    <div class="row">

            <h2>Your scheduled activities:</h2>

    </div>
</div>

            <!-- <p>

                        {% for scheduled_activity in scheduled_activities %}
                            {{ scheduled_activity.activity.activity_name }}
                            {{ scheduled_activity.sched_act_date }}
                        {% endfor %}

            </p> -->
            
    <div class="container">

        <div class="row">
        
                {% for date in itin_dates2 %}

                <div class="col">
                    <ul id="sched-date">
                    {{ date }} <br>
                    {% for scheduled_activity in scheduled_activities %}
                        {% if scheduled_activity.sched_act_date.date() == date %}
                            {{ scheduled_activity.activity.activity_name }}
                            {{ scheduled_activity.sched_act_date.time() }}
                        {% endif %}
                    {% endfor %}
                    </ul>

                    <ul id="sched-activity-name">

                    </ul>
                </div>

                
                {% endfor %}

        </div>
    </div>

{% endblock %}