{% extends 'base.html' %}

{% block title %}Triply{% endblock %}

{% block body %}
  <h1>Welcome to Triply!</h1>

  <div class="container">
    <div class="row">
      <div class="col">


        <h2>New to Triply? Create an account:</h2>

      <form id="register" action="/users" method="POST">

        <div class="form-group" name="first_name">
          <label>First name </label>
          <input type="text" name="first_name" id="first_name" value="" required>
        </div>
        <div class="form-group" name="last_name">
          <label>Last name </label>
          <input type="text" name="last_name" id="last_name" value="" required>
        </div>
        <div class="form-group" name="email">
          <label>Email address </label>
          <input type="text" name="email" id="email" value="" required>
        </div>
        <div class="form-group" name="password">
          <label>Create password </label>
          <input type="password" name="password" id="password" value="" required>

        <div class="form-group">
          <input class="btn btn-primary" id="signup" name="signup" type="submit" value="Signup">
        </div>  

      </form>

      </div>


      <div class="col">
        <h2>Already have an account? Log in:</h2>

        <form id="login" action="/login" method="POST">

          <div class="form-group" name="email">
            <label>Email address </label>
            <input type="text" name="email" id="email" value="" required>
          </div>
          <div class="form-group" name="password">
            <label>Password </label>
            <input type="password" name="password" id="password" value="" required>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" id="login" name="login" type="submit" value="Login">
          </div>  
            
          
        </form>
      </div>
    
    </div>

  </div>
{% endblock %}
