{% extends 'base.html' %}

{% block title %}Triply{% endblock %}

{% block body %}


<div class="register-login-boxes">


  <h1 id="welcome-header">Welcome to Triply!</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-9" id="register-column">


        <h4 id="register-header">New to Triply? Create an account:</h4>

      <form id="register" action="/users" method="POST">

        <div name="first_name">
            <input type="text" name="first_name" id="first_name" value="" class="form-control" placeholder="First name" required />
            <!-- <label class="form-label" for="first_name">First name </label> -->
        </div>
        <div name="last_name">
          <!-- <label class="form-label"f>Last name </label> -->
          <input type="text" name="last_name" id="last_name" value="" class="form-control" placeholder="Last name" required>
        </div>
        <div name="email">
          <!-- <label class="form-label">Email address </label> -->
          <input type="text" name="email" id="email" value="" class="form-control" placeholder="Email address" required>
        </div>
        <div name="password">
          <!-- <label class="form-label">Create password </label> -->
          <input type="password" name="password" id="password" value="" class="form-control" placeholder="Create password" required>

        <div class="form-group">
          <input class="btn btn-outline-secondary btn-sm" id="signup" name="signup" type="submit" value="Signup">
        </div>  

      </form>
    </div>
      </div>

      <div class="col-9" id="login-column">
        <h4 id="login-header">Already have an account? Log in:</h4>

      <div class="form-outline">
        <form id="login" action="/login" method="POST">

          <div name="email">
            <!-- <label class="form-label">Email address </label> -->
            <input type="text" name="email" id="email" value="" class="form-control" placeholder="Email address" required>
          </div>
          <div name="password">
            <!-- <label class="form-label">Password </label> -->
            <input type="password" name="password" id="password" value="" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input class="btn btn-outline-secondary btn-sm" id="login" name="login" type="submit" value="Login">
          </div>  
            
          
        </form>
      </div>
      </div>
    
    </div>

  </div>

</div>



{% endblock %}
