{% extends 'base.html' %}

{% block title %}Create a new itinerary{% endblock %}

{% block body %}

<h1>Create a new itinerary:</h1>

<p>
<form action="/new-itinerary" method="POST">

    <div class="form-group" name="itin_name">
        {% set class = 'form-control is-invalid' if form.itin_name.errors else 'form-control' %}
        {{ form.itin_name.label }}
        {{ form.itin_name(class=class) }}
        {% if form.itin_name.errors %}
        <div class="invalid-feedback">
            {{ form.itin_name.errors[0] }}
        </div>
        {% endif %}
    </div>

    <div class="form-group" name="itin_location">
        {% set class = 'form-control is-invalid' if form.itin_location.errors else 'form-control' %}
        {{ form.itin_location.label }}
        {{ form.itin_location(class=class) }}
        {% if form.itin_location.errors %}
        <div class="invalid-feedback">
            {{ form.itin_location.errors[0] }}
        </div>
        {% endif %}
    </div>

    <div class="form-group" name="itin_start">
        {% set class = 'form-control is-invalid' if form.itin_start.errors else 'form-control' %}
        {{ form.itin_start.label }}
        {{ form.itin_start(class=class) }}
        {% if form.itin_start.errors %}
        <div class="invalid-feedback">
            {{ form.itin_start.errors[0] }}
        </div>
        {% endif %}
    </div>

    <div class="form-group" name="itin_end">
        {% set class = 'form-control is-invalid' if form.itin_end.errors else 'form-control' %}
        {{ form.itin_end.label }}
        {{ form.itin_end(class=class) }}
        {% if form.itin_end.errors %}
        <div class="invalid-feedback">
            {{ form.itin_end.errors[0] }}
        </div>
        {% endif %}
    </div>

    <div class="form-group">
        <input class="btn btn-primary" id="create_itin" name="create_itin" type="submit" value="Create itinerary">
      </div>  
</form>
</p>

{% endblock %}
