{% extends 'base.html' %}

{% block title %}Search For Activities{% endblock %}

{% block body %}
<h1>Your itinerary:</h1>
<p>
  {{ trip.itin_name }} |
  {{ trip.itin_location }} |
  {{ trip.itin_start }} |
  {{ trip.itin_end }}
</p>

<h1>Search for activities by location:</h1>

  <div class="row">
    <form method="GET" action="/search-results/{{trip.itin_id}}">

    <div class="auto-search-wrapper" name="search_location">
      <label>Enter city or location: </label>
      <input
        type="text"
        autocomplete="on"
        id="search"
        class="full-width"
        placeholder=""
        name="search_location" value=""
      />
    </div>
      <div class="form-group">
        <input class="btn btn-primary" id="search_activities" name="search_activities" type="submit" value="Search activities">
      </div>  

    </form>
  </div>



<!-- AUTOCOMPLETE FIELD -->
<script>

// minimal configure
new Autocomplete("search", {
  // default selects the first item in
  // the list of results
  selectFirst: true,

  // The number of characters entered should start searching
  howManyCharacters: 2,

  // onSearch
  onSearch: ({ currentValue }) => {
    // You can also use static files
    // const api = '../static/search.json'
    const api = `https://nominatim.openstreetmap.org/search?format=geojson&limit=5&city=${encodeURI(
      currentValue
    )}`;

    /**
     * Promise
     */
    return new Promise((resolve) => {
      fetch(api)
        .then((response) => response.json())
        .then((data) => {
          resolve(data.features);
        })
        .catch((error) => {
          console.error(error);
        });
    });
  },
  // nominatim GeoJSON format parse this part turns json into the list of
  // records that appears when you type.
  onResults: ({ currentValue, matches, template }) => {
    const regex = new RegExp(currentValue, "gi");

    // if the result returns 0 we
    // show the no results element
    return matches === 0
      ? template
      : matches
          .map((element) => {
            return `
          <li class="loupe">
            <p>
              ${element.properties.display_name.replace(
                regex,
                (str) => `<b>${str}</b>`
              )}
            </p>
          </li> `;
          })
          .join("");
  },

  // we add an action to enter or click
  onSubmit: ({ object }) => {
    // remove all layers from the map
    map.eachLayer(function (layer) {
      if (!!layer.toGeoJSON) {
        map.removeLayer(layer);
      }
    });

  }

})

</script>

{% endblock %}