{% extends 'base.html' %}

{% block title %}{{ user.email }}'s Page{% endblock %}

{% block body %}

<div class="user-itinerary-boxes">

    <h1 class="welcome-back">Welcome back, {{ user.user_fname }}!</h1>

<div class="container-fluid">

    <div class="row" id="itinerary-boxes">
        <div class="col-md-6" id="new-itinerary-box">
            <div id="select-new-itinerary">
                <a href="/new-itinerary">Click here to start a new itinerary</a>
            </div>
        </div>

    
        <div class="col-md-6" id="view-itinerary-box">
            <div id="view-all-itineraries">
                <a href="/view-itineraries">Click here to view your itineraries</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
